<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyj.music.mapper.CommentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.liuyj.music.entity.Comment">
		<id column="id" property="id" />
		<result column="commentId" property="commentId" />
		<result column="userId" property="userId" />
		<result column="avatarUrl" property="avatarUrl" />
		<result column="nickname" property="nickname" />
		<result column="content" property="content" />
		<result column="time" property="time" />
	</resultMap>

</mapper>
